<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main id="app">
        <header>
            <template>
                <div class="tasks-progress">
                    <span class="progress-value">{{ progress }}%</span>
                    <div class="progress-bar" :style="{width: progress + '%'}"></div>
                </div>
            </template>
            <h2>To do List</h2>
            <form>
                <!-- v-model habilita a interligação de mão-dupla -->
                <input type="text" v-model="currentTask" placeholder="Description" maxlength="500">
                <button @click.prevent="addTask">+</button>
            </form>
        </header>
        <section>
            <ol>
                <!-- :key fornece ao Vue um modo de diferenciar cada elemento e evitar alguns problemas de gerenciamento de estado -->
                <li v-for="todo in filteredTasks" :key="todo.task" @click="toggleTask(todo)">
                    <div>
                        <!--:checked="todo.done" muda a marcação da checkbox de acordo com o estado “done” do to-do -->
                        <input type="checkbox" :checked="todo.done">
                        <label>
                            <!-- se o todo estiver com “done” igual a “true” -->
                            <del v-if="todo.done">
                                <!-- chaves duplas permite a interpolação de String. 
                                    Vincula o dado todo.task a tag html, 
                                    e quando o dado mudar a tag html também mudará. -->
                                {{ todo.task }}
                            </del>
                            <span v-else>
                                {{ todo.task }}
                            </span>
                        </label>
                    </div>
                    <img src="close-icon.png" @click="delTask(todo)" alt="delete task">
                </li>
            </ol>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="todo.js"></script>
</body>
</html>