<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main id="app">
        <header>
            <h2>To do List</h2>
            <form>
                <p>{{ currentTask }}</p>
                <input type="text" v-model="currentTask" placeholder="Description" maxlength="500">
                <button @click.prevent="addTask">+</button>
            </form>
        </header>
        <section>
            <ol>
                <li v-for="todo in todos" :key="todo.task" @click="toggleTask(todo)">
                    <div>
                        <input type="checkbox">
                        <label>
                            <del v-if="todo.done">
                                {{ todo.task }}
                            </del>
                            <span v-else>
                                {{ todo.task }}
                            </span>
                        </label>
                    </div>
                    <img src="close-icon.png" @click="delTask(todo)" alt="delete task">
                </li>
            </ol>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="todo.js"></script>
</body>
</html>