* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-size: .98em;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-all;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

body {
    background: #974fc0;
    font-family: Helvetica;
    width: 80%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
}

h2 {
    font-weight: bold;
    color: #974fc0;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.3em;
}

form {
    display: flex;
    justify-content: flex-start;
}

del {
    color: rgba(0, 0, 0, 0.3);
}

button {
    color: #fff;
    background-color: #974fc0;
    border-radius: 2em;
    padding: 0.4em 1em;
    border: 2px solid #974fc0;
    transition: .2s;
    cursor: pointer;
}

input[type=text] {
    border-radius: 2em;
    padding: 0.3em 1em;
    border: 2px solid #974fc0;
    font-family: Helvetica;
    max-width: 70%;
}

ol li {
    transition: .2s;
    border-radius: 2em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ol li:nth-child(odd) {
    background: #f9f9f9;
}

ol li:hover {
    background: #974fc0;
}

button:hover {
    background-color: #974fc0;
}

label, img, li {
    cursor: pointer;
}

ol {
    list-style: decimal inside none;
}


@media screen and (min-width: 620px) {
    * {
        font-size: 1em;
    }
}
@media screen and (min-width: 1000px) {

    input[type=text] {
        width: 35%;
    }

    body {
        width: 60%;
    }
}

li > div {
    display: flex;
    align-items: center;
}

.tasks-progress {
    position: relative;
    width: 99%;
    border: 2px solid rgb(136, 11, 209);
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px #000000;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    border-radius: 16px;
    height: 100%;
    background-color: rgb(136, 11, 209);;
    align-self: flex-start;
}

.progress-value {
    z-index: 1;
    font-size: 1.5rem;
}